.title {
  color: white;
  text-shadow: 2px 2px 5px black;
}

.lead {
  color: cornsilk;
  text-shadow: 2px 2px 5px black;
}

.instructions {
  text-shadow: 2px 2px 5px black;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  border-radius: 0px;
  margin-top:50px;
}