* {
    font-family: 'Montserrat', sans-serif;
}

img {
    margin: 5px 15px 5px 0px;
}

.btn, button {
    float: right;
    border-radius: 10px;
    margin-left: 5px;
}

.card {
    border-radius: 15px;
    
}

@media screen and (max-width: 500px) {
    p {
        font-size: 12px;
    }

    .btn, button {
        
        margin-left: 5px;
        font-size: 12px;
    }

    .card-title {
        font-size: 22px;
    }
    .card-subtitle {
        font-size: 12px;
    }
}

